{
  "openapi": "3.0.0",
  "info": {
    "title": "Utdanning.no API (prod)",
    "description": "",
    "version": "(v2.13.51)"
  },
  "servers": [
    {
      "url": "https://api.utdanning.no/",
      "description": ""
    }
  ],
  "paths": {
    "/arbeidsmarkedskart/endring_arbeidsmarked": {
      "get": {
        "operationId": "api_arbeidsmarkedskartendring_arbeidsmarked_get_collection",
        "tags": [
          "Arbeidsmarkedskart"
        ],
        "responses": {
          "200": {
            "description": "Endring_arbeidsmarked collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Endring_arbeidsmarked.jsonld"
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hydra:view": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "@type": {
                          "type": "string"
                        },
                        "hydra:first": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:last": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:previous": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:next": {
                          "type": "string",
                          "format": "iri-reference"
                        }
                      },
                      "example": {
                        "@id": "string",
                        "type": "string",
                        "hydra:first": "string",
                        "hydra:last": "string",
                        "hydra:previous": "string",
                        "hydra:next": "string"
                      }
                    },
                    "hydra:search": {
                      "type": "object",
                      "properties": {
                        "@type": {
                          "type": "string"
                        },
                        "hydra:template": {
                          "type": "string"
                        },
                        "hydra:variableRepresentation": {
                          "type": "string"
                        },
                        "hydra:mapping": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "@type": {
                                "type": "string"
                              },
                              "variable": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string",
                                "nullable": true
                              },
                              "required": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "hydra:member"
                  ]
                }
              }
            }
          }
        },
        "summary": "Endring i arbeidsmarkedet gjennom årene",
        "description": "Retrieves the collection of Endring_arbeidsmarked resources.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "The number of items per page",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 0
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "uno_id",
            "in": "query",
            "description": "Comma-separated string of uno_id's. To retrieve statistics all employees, regardless of occupation, use special value y_alle.\n        Some example values: <ul><li><code>y_sykepleier</code></li><li><code>y_sykepleier,y_lege,y_elektriker</code></li><li><code>y_alle</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "styrk08",
            "in": "query",
            "description": "Comma-separated string of styrk08 codes's.\n        Some example values: <ul><li><code>2223</code></li><li><code>7411,2223</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "kommune",
            "in": "query",
            "description": "Comma-separated string of Norwegian municipality IDs.\n        Some example values: <ul><li><code>5501</code></li><li><code>0301</code></li><li><code>5501,1804</code></li><li><code>0301,4601,5001,1103,4204,5501</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "fylke",
            "in": "query",
            "description": "Comma-separated string of fylke numbers.\n        Some example values: <ul><li><code>03</code></li><li><code>03,42</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "dato",
            "in": "query",
            "description": "Comma-separated string of one or more years (YYYY) to retrieve employment numbers. Earliest statistics with sufficient data quality is normally 2016.\n        Some example values: <ul><li><code>2022</code></li><li><code>2021</code></li><li><code>2020</code></li><li><code>2019</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "region",
            "in": "query",
            "description": "Get employment statistics aggregated by eighter municipality, county or country.\n        Available values: <ul><li><code>fylke</code></li><li><code>kommune</code></li><li><code>norge</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "ba_region_nr",
            "in": "query",
            "description": "Currently not in use (due to de-anonymization data confidentiality issues). Comma-separated string of 159 Bo- og arbeidsmarkedsregion (ba_regions)\n        Some example values: <ul><li><code>BA005</code></li><li><code>BA005,BA048</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "antall_aarsverk",
            "in": "query",
            "description": "Threshold value of minimum number of man-years worked (antall aarsverk)\n        Some example values: <ul><li><code>5</code></li><li><code>100</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "antall_ansatte",
            "in": "query",
            "description": "Threshold value of mimium number of employees (antall_ansatte)\n        Some example values: <ul><li><code>5</code></li><li><code>10</code></li><li><code>100</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/arbeidsmarkedskart/endring_arbeidsmarked/{id}": {
      "parameters": []
    },
    "/arbeidsmarkedskart/stedsvelger": {
      "get": {
        "operationId": "api_arbeidsmarkedskartstedsvelger_get_collection",
        "tags": [
          "Arbeidsmarkedskart"
        ],
        "responses": {
          "200": {
            "description": "Stedsvelger_Fylke collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Stedsvelger_Fylke"
                  }
                }
              }
            }
          }
        },
        "summary": "Get all counties and municipalities given certain criteria",
        "description": "Retrieves the collection of Stedsvelger_Fylke resources.",
        "parameters": [
          {
            "name": "fylkenr",
            "in": "query",
            "description": "Comma-separated string of fylke codes.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "har_videregaende_skoler",
            "in": "query",
            "description": "returner bare entiteter som har minst en videregående skole",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "har_bedrifter",
            "in": "query",
            "description": "returner bare entiteter som har minst en bedrift",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/arbeidsmarkedskart/stillingsutlysning": {
      "get": {
        "operationId": "api_arbeidsmarkedskartstillingsutlysning_get_collection",
        "tags": [
          "Arbeidsmarkedskart"
        ],
        "responses": {
          "200": {
            "description": "Stillingsutlysning collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Stillingsutlysning.jsonld"
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hydra:view": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "@type": {
                          "type": "string"
                        },
                        "hydra:first": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:last": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:previous": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:next": {
                          "type": "string",
                          "format": "iri-reference"
                        }
                      },
                      "example": {
                        "@id": "string",
                        "type": "string",
                        "hydra:first": "string",
                        "hydra:last": "string",
                        "hydra:previous": "string",
                        "hydra:next": "string"
                      }
                    },
                    "hydra:search": {
                      "type": "object",
                      "properties": {
                        "@type": {
                          "type": "string"
                        },
                        "hydra:template": {
                          "type": "string"
                        },
                        "hydra:variableRepresentation": {
                          "type": "string"
                        },
                        "hydra:mapping": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "@type": {
                                "type": "string"
                              },
                              "variable": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string",
                                "nullable": true
                              },
                              "required": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "hydra:member"
                  ]
                }
              }
            }
          }
        },
        "summary": "Stillingsutlysninger per kommune, år og yrke",
        "description": "Retrieves the collection of Stillingsutlysning resources.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "The number of items per page",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 0
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "styrk08",
            "in": "query",
            "description": "Comma-separated string of styrk08 codes's.\n        Some example values: <ul><li><code>2223</code></li><li><code>7411,2223</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "kommune",
            "in": "query",
            "description": "Comma-separated string of Norwegian municipality IDs.\n        Some example values: <ul><li><code>5501</code></li><li><code>0301</code></li><li><code>5501,1804</code></li><li><code>0301,4601,5001,1103,4204,5501</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "dato",
            "in": "query",
            "description": "Comma-separated string of one or more years (YYYY) to retrieve employment numbers. Earliest statistics with sufficient data quality is normally 2016.\n        Some example values: <ul><li><code>2022</code></li><li><code>2021</code></li><li><code>2020</code></li><li><code>2019</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "region",
            "in": "query",
            "description": "Get employment statistics aggregated by eighter municipality, county or country.\n        Available values: <ul><li><code>fylke</code></li><li><code>kommune</code></li><li><code>norge</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "ba_region_nr",
            "in": "query",
            "description": "Currently not in use (due to de-anonymization data confidentiality issues). Comma-separated string of 159 Bo- og arbeidsmarkedsregion (ba_regions)\n        Some example values: <ul><li><code>BA005</code></li><li><code>BA005,BA048</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "uno_id",
            "in": "query",
            "description": "Comma-separated string of uno_id's. To retrieve statistics all employees, regardless of occupation, use special value y_alle.\n        Some example values: <ul><li><code>y_sykepleier</code></li><li><code>y_sykepleier,y_lege,y_elektriker</code></li><li><code>y_alle</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/arbeidsmarkedskart/stillingsutlysning/{id}": {
      "parameters": []
    },
    "/arbeidsmarkedskart/tidsserie": {
      "get": {
        "operationId": "api_arbeidsmarkedskarttidsserie_get_collection",
        "tags": [
          "Arbeidsmarkedskart"
        ],
        "responses": {
          "200": {
            "description": "Tidsserie collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tidsserie.jsonld"
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hydra:view": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "@type": {
                          "type": "string"
                        },
                        "hydra:first": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:last": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:previous": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:next": {
                          "type": "string",
                          "format": "iri-reference"
                        }
                      },
                      "example": {
                        "@id": "string",
                        "type": "string",
                        "hydra:first": "string",
                        "hydra:last": "string",
                        "hydra:previous": "string",
                        "hydra:next": "string"
                      }
                    },
                    "hydra:search": {
                      "type": "object",
                      "properties": {
                        "@type": {
                          "type": "string"
                        },
                        "hydra:template": {
                          "type": "string"
                        },
                        "hydra:variableRepresentation": {
                          "type": "string"
                        },
                        "hydra:mapping": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "@type": {
                                "type": "string"
                              },
                              "variable": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string",
                                "nullable": true
                              },
                              "required": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "hydra:member"
                  ]
                }
              }
            }
          }
        },
        "summary": "Tidsserie for en kommuner/fylker fra 2016 til dags dato",
        "description": "Retrieves the collection of Tidsserie resources.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "The number of items per page",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 0
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "kommune",
            "in": "query",
            "description": "Comma-separated string of Norwegian municipality IDs.\n        Some example values: <ul><li><code>5501</code></li><li><code>0301</code></li><li><code>5501,1804</code></li><li><code>0301,4601,5001,1103,4204,5501</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "fylke",
            "in": "query",
            "description": "Comma-separated string of fylke numbers.\n        Some example values: <ul><li><code>03</code></li><li><code>03,42</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/arbeidsmarkedskart/tidsserie/{id}": {
      "parameters": []
    },
    "/finnlarebedrift/aarsverk/{value}": {
      "parameters": []
    },
    "/finnlarebedrift/antall_stillinger/{value}": {
      "parameters": []
    },
    "/finnlarebedrift/bedrift/{id}": {
      "get": {
        "operationId": "api_finnlarebedriftbedrift_id_get",
        "tags": [
          "Finnlarebedrift"
        ],
        "responses": {
          "200": {
            "description": "Bedrift resource",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bedrift.jsonld-bedrift.item"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Gir komplett informasjon om hver bedrift.",
        "description": "Retrieves a Bedrift resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bedrift identifier",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/finnlarebedrift/bedrifter_alle": {
      "get": {
        "operationId": "api_finnlarebedriftbedrifter_alle_get_collection",
        "tags": [
          "Finnlarebedrift"
        ],
        "responses": {
          "200": {
            "description": "Bedrifter_alle collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bedrifter_alle.jsonld"
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hydra:view": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "@type": {
                          "type": "string"
                        },
                        "hydra:first": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:last": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:previous": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:next": {
                          "type": "string",
                          "format": "iri-reference"
                        }
                      },
                      "example": {
                        "@id": "string",
                        "type": "string",
                        "hydra:first": "string",
                        "hydra:last": "string",
                        "hydra:previous": "string",
                        "hydra:next": "string"
                      }
                    },
                    "hydra:search": {
                      "type": "object",
                      "properties": {
                        "@type": {
                          "type": "string"
                        },
                        "hydra:template": {
                          "type": "string"
                        },
                        "hydra:variableRepresentation": {
                          "type": "string"
                        },
                        "hydra:mapping": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "@type": {
                                "type": "string"
                              },
                              "variable": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string",
                                "nullable": true
                              },
                              "required": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "hydra:member"
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieves the collection of Bedrifter_alle resources.",
        "description": "Retrieves the collection of Bedrifter_alle resources.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larlinger_i_valgte_fag",
            "in": "query",
            "description": "Comma-separated string of antall lærlinger in selected Fag\n        All possible values: <ul><li><code>al0</code></li><li><code>al1</code></li><li><code>al2</code></li><li><code>al3</code></li><li><code>al4</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "q",
            "in": "query",
            "description": "Used to filter on search terms.\n        Result will contain bedrifter with the search term value in its name.\n        Example values: <ul><li><code>data</code></li><li><code>kommune</code></li><li><code>skole</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "aarsverk",
            "in": "query",
            "description": "Comma-separated string of age-groups.\n        All possible values: <ul><li><code>ag0</code></li><li><code>ag1</code></li><li><code>ag2</code></li><li><code>ag3</code></li><li><code>ag4</code></li><li><code>ag5</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "opplaring",
            "in": "query",
            "description": "Filter based on the opplaringskontor a bedrift belongs to.\n                        Example values:\n                    <ul><li><code>ingen</code></li><li><code>alle</code></li><li><code>orgnr for opplæringskontor</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "gk",
            "in": "query",
            "description": "Comma-separated string of godkjenninger.\n        Accepted values: <ul><li><code>\"sentralt godkjent\"</code></li><li><code>\"Smilefjestilsyn\"</code></li><li><code>\"Mesterbedrift\"</code></li><li><code>\"Godkjent renholdsbedrift\"</code></li><li><code>\"Godkjent kjøretøyverksted\"</code></li><li><code>\"Ekomnettautorisasjon\"</code></li><li><code>\"Godkjent elvirksomhet\"</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "sted",
            "in": "query",
            "description": "Comma-separated string of county IDs (2 digit) or municipality IDs (4 digit).\n        Some example values: <ul><li><code>03</code></li><li><code>0301</code></li><li><code>5501</code></li><li><code>0301,5501</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "fag",
            "in": "query",
            "description": "Comma-separated string of fag codes.\n        Some example values: <ul><li><code>ELELE3</code></li><li><code>TPALU3</code></li><li><code>ELDAT3,TPGPT3</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "YFF",
            "in": "query",
            "description": "Vis alle bedrifter med YFF-avtale",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larlinger",
            "in": "query",
            "description": "Comma-separated string of antall lærlinger\n        All possible values: <ul><li><code>al0</code></li><li><code>al1</code></li><li><code>al2</code></li><li><code>al3</code></li><li><code>al4</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "bedriftsstorrelse",
            "in": "query",
            "description": "Comma-separated string of the size of the bedrift.\n        Accepted values: <ul><li><code>liten_bedrift</code></li><li><code>mellomstor_bedrift</code></li><li><code>stor_bedrift</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "opplaringskontor",
            "in": "query",
            "description": "Vis alle opplæringskontor",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "ledig_stilling",
            "in": "query",
            "description": "Filter based on if the bedrift has a jobb posting active",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field and order to sort by.\n        Valid fields and sort order: <ul><li><code>ansatte_totalt desc|asc</code></li><li><code>lopende_kontrakter_totalt desc|asc</code></li><li><code>navn desc|asc</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "statlige_etater",
            "in": "query",
            "description": "Show all government agencies (statlige etater)\n        Boolean values: <ul><li><code>true|false</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "fylkeskommuner",
            "in": "query",
            "description": "Show all fylkeskommuner\n        Boolean values: <ul><li><code>true|false</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "kommuner",
            "in": "query",
            "description": "Show all kommuner\n        Boolean values: <ul><li><code>true|false</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "organisasjonsform",
            "in": "query",
            "description": "Comma-separated string of the type of enhet.\n        Accepted values: <ul><li><code>statlig</code></li><li><code>fylkeskommunal</code></li><li><code>kommunal</code></li><li><code>offentlig_foretak</code></li><li><code>andre</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "laereplassgaranti",
            "in": "query",
            "description": "Filter bedrifter by the presence of a lareplassgaranti. Leave unset for a value of 'both'",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larling",
            "in": "query",
            "description": "Comma-separated string of the bedrifts larling status.\n        Accepted values: <ul><li><code>godkjent_har_larling</code></li><li><code>godkjent_uten_larling</code></li><li><code>utlopt</code></li><li><code>ikke_godkjent</code></li><li><code>avtale_yff</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larling_ekskluder",
            "in": "query",
            "description": "Comma-separated string of which larlinge conditions to exclude.\nAccepted values: <ul><li><code>arvede_godkjenninger</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "ledig_stilling_valgte_fag",
            "in": "query",
            "description": "Filter based on if the bedrift has a jobb posting active with selected fagomrade/programomrade",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/finnlarebedrift/bedrifter_godkjente": {
      "get": {
        "operationId": "api_finnlarebedriftbedrifter_godkjente_get_collection",
        "tags": [
          "Finnlarebedrift"
        ],
        "responses": {
          "200": {
            "description": "Bedrifter_godkjente collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bedrifter_godkjente.jsonld"
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hydra:view": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "@type": {
                          "type": "string"
                        },
                        "hydra:first": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:last": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:previous": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:next": {
                          "type": "string",
                          "format": "iri-reference"
                        }
                      },
                      "example": {
                        "@id": "string",
                        "type": "string",
                        "hydra:first": "string",
                        "hydra:last": "string",
                        "hydra:previous": "string",
                        "hydra:next": "string"
                      }
                    },
                    "hydra:search": {
                      "type": "object",
                      "properties": {
                        "@type": {
                          "type": "string"
                        },
                        "hydra:template": {
                          "type": "string"
                        },
                        "hydra:variableRepresentation": {
                          "type": "string"
                        },
                        "hydra:mapping": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "@type": {
                                "type": "string"
                              },
                              "variable": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string",
                                "nullable": true
                              },
                              "required": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "hydra:member"
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieves the collection of Bedrifter_godkjente resources.",
        "description": "Retrieves the collection of Bedrifter_godkjente resources.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "q",
            "in": "query",
            "description": "Used to filter on search terms.\n        Result will contain bedrifter with the search term value in its name.\n        Example values: <ul><li><code>data</code></li><li><code>kommune</code></li><li><code>skole</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larling_ekskluder",
            "in": "query",
            "description": "Comma-separated string of which larlinge conditions to include.\nAccepted values: <ul><li><code>arvede_godkjenninger</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "aarsverk",
            "in": "query",
            "description": "Comma-separated string of age-groups.\n        All possible values: <ul><li><code>ag0</code></li><li><code>ag1</code></li><li><code>ag2</code></li><li><code>ag3</code></li><li><code>ag4</code></li><li><code>ag5</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "opplaring",
            "in": "query",
            "description": "Filter based on the opplaringskontor a bedrift belongs to.\n                        Example values:\n                    <ul><li><code>ingen</code></li><li><code>alle</code></li><li><code>orgnr for opplæringskontor</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "gk",
            "in": "query",
            "description": "Comma-separated string of godkjenninger.\n        Accepted values: <ul><li><code>\"sentralt godkjent\"</code></li><li><code>\"Smilefjestilsyn\"</code></li><li><code>\"Mesterbedrift\"</code></li><li><code>\"Godkjent renholdsbedrift\"</code></li><li><code>\"Godkjent kjøretøyverksted\"</code></li><li><code>\"Ekomnettautorisasjon\"</code></li><li><code>\"Godkjent elvirksomhet\"</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "sted",
            "in": "query",
            "description": "Comma-separated string of county IDs (2 digit) or municipality IDs (4 digit).\n        Some example values: <ul><li><code>03</code></li><li><code>0301</code></li><li><code>5501</code></li><li><code>0301,5501</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "fag",
            "in": "query",
            "description": "Comma-separated string of fag codes.\n        Some example values: <ul><li><code>ELELE3</code></li><li><code>TPALU3</code></li><li><code>ELDAT3,TPGPT3</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "YFF",
            "in": "query",
            "description": "Vis alle bedrifter med YFF-avtale",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larlinger",
            "in": "query",
            "description": "Comma-separated string of antall lærlinger\n        All possible values: <ul><li><code>al0</code></li><li><code>al1</code></li><li><code>al2</code></li><li><code>al3</code></li><li><code>al4</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "bedriftsstorrelse",
            "in": "query",
            "description": "Comma-separated string of the size of the bedrift.\n        Accepted values: <ul><li><code>liten_bedrift</code></li><li><code>mellomstor_bedrift</code></li><li><code>stor_bedrift</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "opplaringskontor",
            "in": "query",
            "description": "Vis alle opplæringskontor",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "ledig_stilling",
            "in": "query",
            "description": "Filter based on if the bedrift has a jobb posting active",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field and order to sort by.\n        Valid fields and sort order: <ul><li><code>ansatte_totalt desc|asc</code></li><li><code>lopende_kontrakter_totalt desc|asc</code></li><li><code>navn desc|asc</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "statlige_etater",
            "in": "query",
            "description": "Show all government agencies (statlige etater)\n        Boolean values: <ul><li><code>true|false</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "fylkeskommuner",
            "in": "query",
            "description": "Show all fylkeskommuner\n        Boolean values: <ul><li><code>true|false</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "kommuner",
            "in": "query",
            "description": "Show all kommuner\n        Boolean values: <ul><li><code>true|false</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larlinger_i_valgte_fag",
            "in": "query",
            "description": "Comma-separated string of antall lærlinger in selected Fag\n        All possible values: <ul><li><code>al0</code></li><li><code>al1</code></li><li><code>al2</code></li><li><code>al3</code></li><li><code>al4</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "organisasjonsform",
            "in": "query",
            "description": "Comma-separated string of the type of enhet.\n        Accepted values: <ul><li><code>statlig</code></li><li><code>fylkeskommunal</code></li><li><code>kommunal</code></li><li><code>offentlig_foretak</code></li><li><code>andre</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "laereplassgaranti",
            "in": "query",
            "description": "Filter bedrifter by the presence of a lareplassgaranti. Leave unset for a value of 'both'",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larling",
            "in": "query",
            "description": "Comma-separated string of the bedrifts larling status.\n        Accepted values: <ul><li><code>godkjent_har_larling</code></li><li><code>godkjent_uten_larling</code></li><li><code>utlopt</code></li><li><code>ikke_godkjent</code></li><li><code>avtale_yff</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "ledig_stilling_valgte_fag",
            "in": "query",
            "description": "Filter based on if the bedrift has a jobb posting active with selected fagomrade/programomrade",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/finnlarebedrift/bedrifter_ikke_godkjente": {
      "get": {
        "operationId": "api_finnlarebedriftbedrifter_ikke_godkjente_get_collection",
        "tags": [
          "Finnlarebedrift"
        ],
        "responses": {
          "200": {
            "description": "Bedrifter_ikke_godkjente collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bedrifter_ikke_godkjente.jsonld"
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hydra:view": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "@type": {
                          "type": "string"
                        },
                        "hydra:first": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:last": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:previous": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:next": {
                          "type": "string",
                          "format": "iri-reference"
                        }
                      },
                      "example": {
                        "@id": "string",
                        "type": "string",
                        "hydra:first": "string",
                        "hydra:last": "string",
                        "hydra:previous": "string",
                        "hydra:next": "string"
                      }
                    },
                    "hydra:search": {
                      "type": "object",
                      "properties": {
                        "@type": {
                          "type": "string"
                        },
                        "hydra:template": {
                          "type": "string"
                        },
                        "hydra:variableRepresentation": {
                          "type": "string"
                        },
                        "hydra:mapping": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "@type": {
                                "type": "string"
                              },
                              "variable": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string",
                                "nullable": true
                              },
                              "required": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "hydra:member"
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieves the collection of Bedrifter_ikke_godkjente resources.",
        "description": "Retrieves the collection of Bedrifter_ikke_godkjente resources.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "q",
            "in": "query",
            "description": "Used to filter on search terms.\n        Result will contain bedrifter with the search term value in its name.\n        Example values: <ul><li><code>data</code></li><li><code>kommune</code></li><li><code>skole</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larling_ekskluder",
            "in": "query",
            "description": "Comma-separated string of which larlinge conditions to exclude.\nAccepted values: <ul><li><code>arvede_godkjenninger</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "aarsverk",
            "in": "query",
            "description": "Comma-separated string of age-groups.\n        All possible values: <ul><li><code>ag0</code></li><li><code>ag1</code></li><li><code>ag2</code></li><li><code>ag3</code></li><li><code>ag4</code></li><li><code>ag5</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "opplaring",
            "in": "query",
            "description": "Filter based on the opplaringskontor a bedrift belongs to.\n                        Example values:\n                    <ul><li><code>ingen</code></li><li><code>alle</code></li><li><code>orgnr for opplæringskontor</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "gk",
            "in": "query",
            "description": "Comma-separated string of godkjenninger.\n        Accepted values: <ul><li><code>\"sentralt godkjent\"</code></li><li><code>\"Smilefjestilsyn\"</code></li><li><code>\"Mesterbedrift\"</code></li><li><code>\"Godkjent renholdsbedrift\"</code></li><li><code>\"Godkjent kjøretøyverksted\"</code></li><li><code>\"Ekomnettautorisasjon\"</code></li><li><code>\"Godkjent elvirksomhet\"</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "sted",
            "in": "query",
            "description": "Comma-separated string of county IDs (2 digit) or municipality IDs (4 digit).\n        Some example values: <ul><li><code>03</code></li><li><code>0301</code></li><li><code>5501</code></li><li><code>0301,5501</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "fag",
            "in": "query",
            "description": "Comma-separated string of fag codes.\n        Some example values: <ul><li><code>ELELE3</code></li><li><code>TPALU3</code></li><li><code>ELDAT3,TPGPT3</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "YFF",
            "in": "query",
            "description": "Vis alle bedrifter med YFF-avtale",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larlinger",
            "in": "query",
            "description": "Comma-separated string of antall lærlinger\n        All possible values: <ul><li><code>al0</code></li><li><code>al1</code></li><li><code>al2</code></li><li><code>al3</code></li><li><code>al4</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "bedriftsstorrelse",
            "in": "query",
            "description": "Comma-separated string of the size of the bedrift.\n        Accepted values: <ul><li><code>liten_bedrift</code></li><li><code>mellomstor_bedrift</code></li><li><code>stor_bedrift</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "opplaringskontor",
            "in": "query",
            "description": "Vis alle opplæringskontor",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "ledig_stilling",
            "in": "query",
            "description": "Filter based on if the bedrift has a jobb posting active",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field and order to sort by.\n        Valid fields and sort order: <ul><li><code>ansatte_totalt desc|asc</code></li><li><code>lopende_kontrakter_totalt desc|asc</code></li><li><code>navn desc|asc</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "statlige_etater",
            "in": "query",
            "description": "Show all government agencies (statlige etater)\n        Boolean values: <ul><li><code>true|false</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "fylkeskommuner",
            "in": "query",
            "description": "Show all fylkeskommuner\n        Boolean values: <ul><li><code>true|false</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "kommuner",
            "in": "query",
            "description": "Show all kommuner\n        Boolean values: <ul><li><code>true|false</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larlinger_i_valgte_fag",
            "in": "query",
            "description": "Comma-separated string of antall lærlinger in selected Fag\n        All possible values: <ul><li><code>al0</code></li><li><code>al1</code></li><li><code>al2</code></li><li><code>al3</code></li><li><code>al4</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "organisasjonsform",
            "in": "query",
            "description": "Comma-separated string of the type of enhet.\n        Accepted values: <ul><li><code>statlig</code></li><li><code>fylkeskommunal</code></li><li><code>kommunal</code></li><li><code>offentlig_foretak</code></li><li><code>andre</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "laereplassgaranti",
            "in": "query",
            "description": "Filter bedrifter by the presence of a lareplassgaranti. Leave unset for a value of 'both'",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larling",
            "in": "query",
            "description": "Comma-separated string of the bedrifts larling status.\n        Accepted values: <ul><li><code>godkjent_har_larling</code></li><li><code>godkjent_uten_larling</code></li><li><code>utlopt</code></li><li><code>ikke_godkjent</code></li><li><code>avtale_yff</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "ledig_stilling_valgte_fag",
            "in": "query",
            "description": "Filter based on if the bedrift has a jobb posting active with selected fagomrade/programomrade",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/finnlarebedrift/bedrifter_m_lareplass": {
      "get": {
        "operationId": "api_finnlarebedriftbedrifter_m_lareplass_get_collection",
        "tags": [
          "Finnlarebedrift"
        ],
        "responses": {
          "200": {
            "description": "Bedrifter_m_lareplass collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bedrifter_m_lareplass.jsonld"
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hydra:view": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "@type": {
                          "type": "string"
                        },
                        "hydra:first": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:last": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:previous": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:next": {
                          "type": "string",
                          "format": "iri-reference"
                        }
                      },
                      "example": {
                        "@id": "string",
                        "type": "string",
                        "hydra:first": "string",
                        "hydra:last": "string",
                        "hydra:previous": "string",
                        "hydra:next": "string"
                      }
                    },
                    "hydra:search": {
                      "type": "object",
                      "properties": {
                        "@type": {
                          "type": "string"
                        },
                        "hydra:template": {
                          "type": "string"
                        },
                        "hydra:variableRepresentation": {
                          "type": "string"
                        },
                        "hydra:mapping": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "@type": {
                                "type": "string"
                              },
                              "variable": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string",
                                "nullable": true
                              },
                              "required": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "hydra:member"
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieves the collection of Bedrifter_m_lareplass resources.",
        "description": "Retrieves the collection of Bedrifter_m_lareplass resources.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "q",
            "in": "query",
            "description": "Used to filter on search terms.\n        Result will contain bedrifter with the search term value in its name.\n        Example values: <ul><li><code>data</code></li><li><code>kommune</code></li><li><code>skole</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "aarsverk",
            "in": "query",
            "description": "Comma-separated string of age-groups.\n        All possible values: <ul><li><code>ag0</code></li><li><code>ag1</code></li><li><code>ag2</code></li><li><code>ag3</code></li><li><code>ag4</code></li><li><code>ag5</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "opplaring",
            "in": "query",
            "description": "Filter based on the opplaringskontor a bedrift belongs to.\n                        Example values:\n                    <ul><li><code>ingen</code></li><li><code>alle</code></li><li><code>orgnr for opplæringskontor</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "gk",
            "in": "query",
            "description": "Comma-separated string of godkjenninger.\n        Accepted values: <ul><li><code>\"sentralt godkjent\"</code></li><li><code>\"Smilefjestilsyn\"</code></li><li><code>\"Mesterbedrift\"</code></li><li><code>\"Godkjent renholdsbedrift\"</code></li><li><code>\"Godkjent kjøretøyverksted\"</code></li><li><code>\"Ekomnettautorisasjon\"</code></li><li><code>\"Godkjent elvirksomhet\"</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "sted",
            "in": "query",
            "description": "Comma-separated string of county IDs (2 digit) or municipality IDs (4 digit).\n        Some example values: <ul><li><code>03</code></li><li><code>0301</code></li><li><code>5501</code></li><li><code>0301,5501</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "fag",
            "in": "query",
            "description": "Comma-separated string of fag codes.\n        Some example values: <ul><li><code>ELELE3</code></li><li><code>TPALU3</code></li><li><code>ELDAT3,TPGPT3</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "YFF",
            "in": "query",
            "description": "Vis alle bedrifter med YFF-avtale",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larlinger",
            "in": "query",
            "description": "Comma-separated string of antall lærlinger\n        All possible values: <ul><li><code>al0</code></li><li><code>al1</code></li><li><code>al2</code></li><li><code>al3</code></li><li><code>al4</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "bedriftsstorrelse",
            "in": "query",
            "description": "Comma-separated string of the size of the bedrift.\n        Accepted values: <ul><li><code>liten_bedrift</code></li><li><code>mellomstor_bedrift</code></li><li><code>stor_bedrift</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "opplaringskontor",
            "in": "query",
            "description": "Vis alle opplæringskontor",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "ledig_stilling",
            "in": "query",
            "description": "Filter based on if the bedrift has a jobb posting active",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "ledig_stilling_valgte_fag",
            "in": "query",
            "description": "Filter based on if the bedrift has a jobb posting active with selected fagomrade/programomrade",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field and order to sort by.\n        Valid fields and sort order: <ul><li><code>ansatte_totalt desc|asc</code></li><li><code>lopende_kontrakter_totalt desc|asc</code></li><li><code>navn desc|asc</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "statlige_etater",
            "in": "query",
            "description": "Show all government agencies (statlige etater)\n        Boolean values: <ul><li><code>true|false</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "fylkeskommuner",
            "in": "query",
            "description": "Show all fylkeskommuner\n        Boolean values: <ul><li><code>true|false</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "kommuner",
            "in": "query",
            "description": "Show all kommuner\n        Boolean values: <ul><li><code>true|false</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larlinger_i_valgte_fag",
            "in": "query",
            "description": "Comma-separated string of antall lærlinger in selected Fag\n        All possible values: <ul><li><code>al0</code></li><li><code>al1</code></li><li><code>al2</code></li><li><code>al3</code></li><li><code>al4</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "organisasjonsform",
            "in": "query",
            "description": "Comma-separated string of the type of enhet.\n        Accepted values: <ul><li><code>statlig</code></li><li><code>fylkeskommunal</code></li><li><code>kommunal</code></li><li><code>offentlig_foretak</code></li><li><code>andre</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "laereplassgaranti",
            "in": "query",
            "description": "Filter bedrifter by the presence of a lareplassgaranti. Leave unset for a value of 'both'",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larling",
            "in": "query",
            "description": "Comma-separated string of the bedrifts larling status.\n        Accepted values: <ul><li><code>godkjent_har_larling</code></li><li><code>godkjent_uten_larling</code></li><li><code>utlopt</code></li><li><code>ikke_godkjent</code></li><li><code>avtale_yff</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larling_ekskluder",
            "in": "query",
            "description": "Comma-separated string of which larlinge conditions to exclude.\nAccepted values: <ul><li><code>arvede_godkjenninger</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/finnlarebedrift/bedriftsinfo/{value}": {
      "parameters": []
    },
    "/finnlarebedrift/bedriftsliste": {
      "get": {
        "operationId": "api_finnlarebedriftbedriftsliste_get_collection",
        "tags": [
          "Finnlarebedrift"
        ],
        "responses": {
          "200": {
            "description": "Bedrift collection",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bedrift.jsonld-bedrift.collection"
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hydra:view": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "@type": {
                          "type": "string"
                        },
                        "hydra:first": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:last": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:previous": {
                          "type": "string",
                          "format": "iri-reference"
                        },
                        "hydra:next": {
                          "type": "string",
                          "format": "iri-reference"
                        }
                      },
                      "example": {
                        "@id": "string",
                        "type": "string",
                        "hydra:first": "string",
                        "hydra:last": "string",
                        "hydra:previous": "string",
                        "hydra:next": "string"
                      }
                    },
                    "hydra:search": {
                      "type": "object",
                      "properties": {
                        "@type": {
                          "type": "string"
                        },
                        "hydra:template": {
                          "type": "string"
                        },
                        "hydra:variableRepresentation": {
                          "type": "string"
                        },
                        "hydra:mapping": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "@type": {
                                "type": "string"
                              },
                              "variable": {
                                "type": "string"
                              },
                              "property": {
                                "type": "string",
                                "nullable": true
                              },
                              "required": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "hydra:member"
                  ]
                }
              }
            }
          }
        },
        "summary": "Gir generell informasjon om hver bedrift.",
        "description": "Retrieves the collection of Bedrift resources.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The collection page number",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "q",
            "in": "query",
            "description": "Used to filter on search terms.\n        Result will contain bedrifter with the search term value in its name.\n        Example values: <ul><li><code>data</code></li><li><code>kommune</code></li><li><code>skole</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "larling",
            "in": "query",
            "description": "Comma-separated string of the bedrifts larling status.\n        Accepted values: <ul><li><code>godkjent_har_larling</code></li><li><code>godkjent_uten_larling</code></li><li><code>utlopt</code></li><li><code>ikke_godkjent</code></li><li><code>avtale_yff</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "aarsverk",
            "in": "query",
            "description": "Comma-separated string of age-groups.\n        All possible values: <ul><li><code>ag0</code></li><li><code>ag1</code></li><li><code>ag2</code></li><li><code>ag3</code></li><li><code>ag4</code></li><li><code>ag5</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "opplaring",
            "in": "query",
            "description": "Filter based on the opplaringskontor a bedrift belongs to.\n                        Example values:\n                    <ul><li><code>ingen</code></li><li><code>alle</code></li><li><code>orgnr for opplæringskontor</code></li></ul>",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
[...]
